SmartEngineer.ServiceClient/Connected Services/JiraServiceForENGSupp/JiraServiceForENGSupp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartEngineer.Core.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartEngineer.Core.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJiraIssue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JiraIssue" nillable="true" type="tns:JiraIssue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJiraIssue" nillable="true" type="tns:ArrayOfJiraIssue" />
  <xs:complexType name="JiraIssue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BasicDataModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="AggregateTimeOriginalEstimate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AggregateTimeSpent" type="xs:int" />
          <xs:element minOccurs="0" name="AssignedQA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Assignee" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BuildVersion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CaseNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Components" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Environment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstimatedEffort" type="xs:int" />
          <xs:element minOccurs="0" name="FixVersions" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IssueCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IssueType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JiraID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JiraKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Labels" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Reporter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Resolutiondate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SFCommentCount" type="xs:int" />
          <xs:element minOccurs="0" name="SFCurrentVersion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFCustomer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFLastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SFOpenedDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SFOrigin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFPriority" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFProduct" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFSalesforceLink" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SFTargetedRelease" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SelfRating" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Severity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeEstimate" type="xs:int" />
          <xs:element minOccurs="0" name="TimeSpent" type="xs:int" />
          <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JiraIssue" nillable="true" type="tns:JiraIssue" />
  <xs:complexType name="BasicDataModel">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BasicDataModel" nillable="true" type="tns:BasicDataModel" />
</xs:schema>