SmartEngineer.ServiceClient/Connected Services/SalesforceService/SalesforceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesforceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:41200/SalesforceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:41200/SalesforceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:41200/SalesforceService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:41200/SalesforceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SmartEngineer.Core.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalesforceService_GetNewCasesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewCasesList" />
  </wsdl:message>
  <wsdl:message name="ISalesforceService_GetNewCasesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewCasesListResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceService_GetEngineerCasesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEngineerCasesList" />
  </wsdl:message>
  <wsdl:message name="ISalesforceService_GetEngineerCasesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEngineerCasesListResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceService_GetCommentedCaseList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentedCaseList" />
  </wsdl:message>
  <wsdl:message name="ISalesforceService_GetCommentedCaseList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentedCaseListResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceService_GetProductionBugList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductionBugList" />
  </wsdl:message>
  <wsdl:message name="ISalesforceService_GetProductionBugList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductionBugListResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceService_GetCasesByCaseNOs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCasesByCaseNOs" />
  </wsdl:message>
  <wsdl:message name="ISalesforceService_GetCasesByCaseNOs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCasesByCaseNOsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalesforceService">
    <wsdl:operation name="GetNewCasesList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceService/GetNewCasesList" message="tns:ISalesforceService_GetNewCasesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceService/GetNewCasesListResponse" message="tns:ISalesforceService_GetNewCasesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEngineerCasesList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceService/GetEngineerCasesList" message="tns:ISalesforceService_GetEngineerCasesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceService/GetEngineerCasesListResponse" message="tns:ISalesforceService_GetEngineerCasesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentedCaseList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceService/GetCommentedCaseList" message="tns:ISalesforceService_GetCommentedCaseList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceService/GetCommentedCaseListResponse" message="tns:ISalesforceService_GetCommentedCaseList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductionBugList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceService/GetProductionBugList" message="tns:ISalesforceService_GetProductionBugList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceService/GetProductionBugListResponse" message="tns:ISalesforceService_GetProductionBugList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCasesByCaseNOs">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceService/GetCasesByCaseNOs" message="tns:ISalesforceService_GetCasesByCaseNOs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceService/GetCasesByCaseNOsResponse" message="tns:ISalesforceService_GetCasesByCaseNOs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalesforceService" type="tns:ISalesforceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewCasesList">
      <soap:operation soapAction="http://tempuri.org/ISalesforceService/GetNewCasesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEngineerCasesList">
      <soap:operation soapAction="http://tempuri.org/ISalesforceService/GetEngineerCasesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentedCaseList">
      <soap:operation soapAction="http://tempuri.org/ISalesforceService/GetCommentedCaseList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductionBugList">
      <soap:operation soapAction="http://tempuri.org/ISalesforceService/GetProductionBugList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCasesByCaseNOs">
      <soap:operation soapAction="http://tempuri.org/ISalesforceService/GetCasesByCaseNOs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesforceService">
    <wsdl:port name="BasicHttpBinding_ISalesforceService" binding="tns:BasicHttpBinding_ISalesforceService">
      <soap:address location="http://localhost:41200/SalesforceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>